.userloginpage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%); */
    /* background: linear-gradient(135deg, #a1c4fd 10%, #c2e9fb 100%); */
    background: linear-gradient(135deg, #ff9a9e 10%, #fad0c4 100%);


    font-family: 'Arial', sans-serif;
  }
  
  .userloginpage .gif img{
    height: 350px;
    width: 430px;
    position: relative;
    right: 30%;
    border-radius: 13px;
    object-fit: cover;
  }
  
  .userloginpage form {
    background: white;
    padding: 2rem;
    border-radius: 13px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  
  .userloginpage form label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .userloginpage form input[type="email"],
  .userloginpage form input[type="password"] {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    transition: border 0.3s ease;
  }
  
  
  .userloginpage form input[type="email"]:focus,
  .userloginpage form input[type="password"]:focus {
    border-color: #5151e5;
    outline: none;
  }
  
  
  .userloginpage form button {
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    /* background: #5151e5; */
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    background: linear-gradient(135deg, #de3e43 10%, #fad0c4 100%);

  }
  
  
  .userloginpage form button:hover {
    background: linear-gradient(135deg, #eb6166 10%, #fad0c4 100%);
  }
  
  
  .userloginpage form p {
    margin-top: 10px;
    text-align: center;
  }
  