   * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }

   .maincontent .heading {
     color: black;
     font-size: 60px;
     text-align: center;
     margin-top: 3%;
   }

   .landingpage-container {
     position: relative;
     width: 100vw;
     height: 100vh;
     overflow: hidden;
   }

   #background-video {
     position: absolute;
     top: 50%;
     left: 50%;
     width: 239.7%;
     height: 271%;
     object-fit: cover;
     transform: translate(-50%, -50%);
     z-index: -1;
     opacity: 0.9;
   }

   .landingpage {
     display: flex;
     justify-content: space-around;
     align-items: center;
     text-align: center;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     background: rgba(0, 0, 0, 0.5);
     border-radius: 20px;
     padding: 20px;
     border: 2px solid rgba(0, 0, 0, 0.1);
     width: 42%;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
     font-family: 'Arial', sans-serif;
   }


   .landingpage a {
     text-decoration: none;
     color: #fff;
     transition: transform 0.3s ease, color 0.3s ease;
   }


   .landingpage img {
     height: 150px;
     width: 150px;
     border-radius: 50%;
     transition: transform 0.3s ease;
   }


   .landingpage h2 {
     margin-top: 10px;
     font-size: 1.5rem;
     color: #fff;
   }


   .landingpage a:hover {
     transform: scale(1.1);
     color: #fff;
   }


   .landingpage img:hover {
     transform: scale(1.1);
   }


   @media (max-width: 768px) {
     .landingpage {
       flex-direction: column;
       width: 80%;
       padding: 10px;
     }

     .landingpage img {
       height: 100px;
       width: 100px;
     }

     .landingpage h2 {
       font-size: 1.2rem;
     }
   }